<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>${name_of(ticket.resource)} &ndash; Delete Reminder</title>
  </head>

  <body>
    <div id="content" class="reminder">
      <h1>Delete reminder on <a href="${url_of(ticket.resource)}">${name_of(ticket.resource)}</a></h1>
      <div id="formatted_reminder">${formatted_reminder}</div>
      <p><strong>Are you sure you want to delete this reminder?</strong><br />
        This is an irreversible operation.</p>
      <div class="buttons">
        <form method="post" action="">
          <div id="delete">
            <input type="hidden" name="action" value="deletereminder" />
            <input type="hidden" name="reminder" value="${req.args.get('reminder')}" />
            <input type="submit" name="cancel" value="${_('Cancel')}" />
            <input type="submit" value="${_('Delete reminder')}" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
