# extends 'layout.html'
<!DOCTYPE html>
<html>
  <head>
    # block title
    ${name_of(ticket.resource)} &ndash; Delete Reminder ${ super() }
    # endblock title

    # block head
    ${ super() }
    # endblock head
  </head>

  <body>
    <div id="content" class="reminder">
    # block content
      <h1>Delete reminder on <a href="${url_of(ticket.resource)}">${name_of(ticket.resource)}</a></h1>
      <div id="formatted_reminder">${formatted_reminder}</div>
      <p><strong>Are you sure you want to delete this reminder?</strong><br />
        This is an irreversible operation.</p>
      <div class="buttons">
        <form method="post" action="">
          ${jmacros.form_token_input()}
          <div id="delete">
            <input type="hidden" name="action" value="deletereminder" />
            <input type="hidden" name="reminder" value="${req.args.get('reminder')}" />
            <input type="submit" name="cancel" value="${_('Cancel')}" />
            <input type="submit" value="${_('Delete reminder')}" />
          </div>
        </form>
      </div>
    </div>
    ${ super() }
    # endblock content
  </body>
</html>
