# extends 'layout.html'
<!DOCTYPE html>
<html>
  <head>
    # block title
    ${name_of(ticket.resource)} &ndash; Add Reminder
    # endblock title

    # block head
    ${ super() }
    # endblock head
  </head>

  <body>
    <div id="content" class="reminder">
    # block content
      <h1>Add reminder on <a href="${url_of(ticket.resource)}">${name_of(ticket.resource)}</a></h1>
      <form id="reminder" method="post" enctype="multipart/form-data" action="">
        ${jmacros.form_token_input()}
        <fieldset>
          <legend><label><input type="radio" name="reminder_type" value="date" checked="${'checked' if req.args.get('reminder_type') == 'date' else None}" /> Specific Date</label></legend>
          <div class="field">
            On <input type="text" name="date" size="15" value="${req.args.get('date')}" />.
            <p class="hint">Enter date in ${date_hint} format.</p>
          </div>
          <br />
        </fieldset>
        <fieldset>
          <legend><label><input type="radio" name="reminder_type" value="interval" checked="${'checked' if req.args.get('reminder_type') == 'interval' else None}" /> Interval</label></legend>
          <div class="field">
            In <input type="text" name="interval" size="5" value="${req.args.get('interval')}" />
            <label><input type="radio" name="unit" value="day" checked="${'checked' if req.args.get('unit') == 'day' else None}" /> day(s)</label>
            <label><input type="radio" name="unit" value="week" checked="${'checked' if req.args.get('unit') == 'week' else None}" /> week(s)</label>
            <label><input type="radio" name="unit" value="month" checked="${'checked' if req.args.get('unit') == 'month' else None}" /> month(s)</label>
            <label><input type="radio" name="unit" value="year" checked="${'checked' if req.args.get('unit') == 'year' else None}" /> year(s)</label>.
          </div>
          <br />
        </fieldset>
        <fieldset>
          <legend>Reminder Info</legend>
          # if authname == 'anonymous'
            <div class="field">
              <label>Your email or username:<br />
                <input type="text" name="author" size="30" value="${req.args.get('author', author)}" />
              </label>
            </div>
          # endif
          <div class="field">
            <label>Description of the reminder (optional):<br />
              <input type="text" name="description" size="60" value="${req.args.get('description')}" /></label>
          </div>
          <br />
        </fieldset>
        <div class="buttons">
          <input type="hidden" name="action" value="addreminder" />
          <input type="submit" value="${_('Add reminder')}" />
          <input type="submit" name="cancel" value="${_('Cancel')}" />
        </div>
      </form>
    </div>
    ${ super() }
    # endblock content
  </body>
</html>
