<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>${name_of(ticket.resource)} &ndash; Add Reminder</title>
  </head>

  <body>
    <div id="content" class="reminder">
      <h1>Add reminder on <a href="${url_of(ticket.resource)}">${name_of(ticket.resource)}</a></h1>
      <form id="reminder" method="post" enctype="multipart/form-data" action="">
        <fieldset>
          <legend><label><input type="radio" name="type" value="date" checked="${'checked' if req.args.get('type') == 'date' else None}" /> Specific Date</label></legend>
          <div class="field">
            On <input type="text" name="date" size="15" value="${req.args.get('date')}" />.
            <p class="hint">Enter date in ${date_hint} format.</p>
          </div>
          <br />
        </fieldset>
        <fieldset>
          <legend><label><input type="radio" name="type" value="interval" checked="${'checked' if req.args.get('type') == 'interval' else None}" /> Interval</label></legend>
          <div class="field">
            In <input type="text" name="interval" size="5" value="${req.args.get('interval')}" />
            <label><input type="radio" name="unit" value="day" checked="${'checked' if req.args.get('unit') == 'day' else None}" /> day(s)</label>
            <label><input type="radio" name="unit" value="week" checked="${'checked' if req.args.get('unit') == 'week' else None}" /> week(s)</label>
            <label><input type="radio" name="unit" value="month" checked="${'checked' if req.args.get('unit') == 'month' else None}" /> month(s)</label>
            <label><input type="radio" name="unit" value="year" checked="${'checked' if req.args.get('unit') == 'year' else None}" /> year(s)</label>.
          </div>
          <br />
        </fieldset>
        <fieldset>
          <legend>Reminder Info</legend>
          <py:if test="authname == 'anonymous'">
            <div class="field">
              <label>Your email or username:<br />
                <input type="text" name="author" size="30" value="${req.args.get('author', author)}" />
              </label>
            </div>
            </py:if>
          <div class="field">
            <label>Description of the reminder (optional):<br />
              <input type="text" name="description" size="60" value="${req.args.get('description')}" /></label>
          </div>
          <br />
        </fieldset>
        <div class="buttons">
          <input type="hidden" name="action" value="addreminder" />
          <input type="submit" value="${_('Add reminder')}" />
          <input type="submit" name="cancel" value="${_('Cancel')}" />
        </div>
      </form>
    </div>
  </body>
</html>
